
body {
	background-color: #ffe7dc; /* #f9d195; */
}

.header{
	margin-top: 40px;
	margin-bottom: 40px;
}

.side-header{
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}

.main-header{
	text-align: center;
}

.menu{

}

.menu-item{
	text-align: center;
	border: 1px solid black;
	margin-left:30px;
	margin-right: 30px;
	padding: 10px;
	background-color: antiquewhite;
	color: black; /*Instead of the regular blue for links. */

}

.menu-item:hover{
	background-color: red;
	color: white;
}

.content{
	margin-top: 60px;
}
.text-center{
	text-align: center;
}
.padding-40{
	padding-bottom: 40px;
}
.padding-top-60{
	padding-top: 60px;
}
/*Home Page Specific css.*/
.body-home{
	margin-top: 60px;
}


.pic{
	border: 6px solid white;

}
.pic img{
	height: 250px;
}
.body-home .left{
	margin-right: 10px;
	padding-top: 20px;
}

.body-home .mid{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
}
.body-home .mid .col{
	flex: 1;
}
.body-home .mid .pic{
	margin-top: 5px;
	margin-bottom: 5px;
}
.body-home .right{
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.footer{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	align-content: space-around;

}
.footer-section{
	border: 4px solid white;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-section p{
	text-align: center;
}
.footer-section img{
	width: 25px;
	height: auto;
}


.designer{
	text-align: center;
}

/*Menu Page*/
.body-menu{
	margin-top: 60px;
}

/*Background Pattern : https://www.toptal.com/designers/subtlepatterns/thumbnail-view/*/
/*Ribbon. Thanks to http://livetools.uiparade.com/ribbon-builder.html#*/

.ribbon {
   width: 300px;
   position: absolute;
   text-align: center;
   font-size: 20px!important;
   background: #d64b4b;
   background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
   background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
   background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
   background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 27px!important;
   color: #801111;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 5px 5px 5px 5px;
   }
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #871616 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }