
/* XS styling */
@media (max-width: 480px) {
  .container {
    width: inherit;
  }
}

/* SM styling */
@media (min-width: 480px) and (max-width: 768px) {
  .container {
    width: inherit;
  }
}

body {
	background-color: #ffe7dc; /* #f9d195; */
	font-family:'Raleway', sans-serif;
	background: url(/img/restaurant_icons.png) repeat 0 0;
}

.brand{
	font-family: 'Montserrat Alternates', sans-serif;
	font-weight: 200;
}
.fafaee_background{
	background-color: #fafaee;
}

.header{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.side-header{
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
}
.left-header{
	order: 1;
	margin-bottom: 10px;
}
.main-header{
	text-align: center;
	order: 2;
}
.right-header{
	order: 3;
}
.description{
	display: inherit;
}
.phone{
	display: none;
}

@media (max-width:768px){
	.side-header{
		border: none;
		padding-bottom: 0px;
		padding-top: 0px;
	}
	.left-header{
		order:2;
		width: 100%;
	}
	.main-header{
		order: 1;
		width: 100%;
		flex-grow: 1;
	}
	.right-header{
		order: 3;
		width: 100%;
		border-bottom: 2px solid red;
		padding-bottom: 20px;
	}
	.description{
		display: none;
	}
	.phone{
		display: inherit;
	}
	.menu-img{
		display: none;
	}
	.menu-img-sm{
		border: 2px solid white;
		margin-bottom: 10px;
		width: 100%;
		display: block!important;
		visibility: visible;
	}
}


.menu{

}

.menu-item{
	text-align: center;
	border: 1px solid black;
	margin-left:30px;
	margin-right: 30px;
	padding: 10px;
	background-color: antiquewhite;
	color: black; /*Instead of the regular blue for links. */
	margin-bottom: 10px;

}

.menu-item:hover{
	background-color: red;
	color: white;
}

.content{
	margin-top: 60px;
}
.text-center{
	text-align: center;
}
.padding-40{
	padding-bottom: 40px;
}
.padding-top-60{
	padding-top: 60px;
}
/*Home Page Specific css.*/
.body-home{
	margin-top: 0px;
}


.pic{
	border: 2px solid #ff0000;
	border-radius: 5px;
    overflow: hidden;

}
.pic img{
	width: 100%;
	height: auto;
}
.body-home .left{
	margin-right: 10px;
	padding-top: 20px;
}

.body-home .mid{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: space-between;
}
.body-home .mid .col{
	flex: 1;
}
.body-home .mid .pic{
	margin-top: 5px;
	margin-bottom: 5px;
}
.body-home .right{
	margin-left: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.footer{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	align-content: space-around;

}
.footer-section{
	border: 2px solid #ff0000;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.footer-section p{
	text-align: center;
}
.footer-section img{
	width: 25px;
	height: auto;
}


.designer{
	text-align: center;
}

/*Menu Page*/
.body-menu{
	margin-top: 60px;
}


.menu-img{
	border: 2px solid white;
	margin-bottom: 10px;
}
.menu-img-sm{
	display: none;
}


/*Background Pattern : https://www.toptal.com/designers/subtlepatterns/thumbnail-view/*/
/*Ribbon. Thanks to http://livetools.uiparade.com/ribbon-builder.html#*/
